@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Familjen+Grotesk:wght@400;600;700;900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 100px;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Header - navbar */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    text-transform: uppercase;
}

/* Logo */
.logo {
    width: 210px;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* desktop main nav */
.desktop-main-menu {
    margin-right: 50px;
    display: flex;
    flex-grow: 1;
}

.desktop-main-menu ul {
    display: flex;
    flex-grow: 1;
    margin-left: 1rem;   
    list-style: none;
}

.desktop-main-menu ul li {    
    margin-right: 20px;
    margin-bottom: 2px;
    position: relative;
    font-size: .8rem;
    font-weight: 700;
}

.desktop-main-menu ul li:last-of-type {
    margin-left: auto;
}

.desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .3s ease-in-out;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

/* Section styling*/
section {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: #fff;
}

.section-inner {
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 560px;
}

.section-inner h4 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
    animation: fadeInOut .5s ease-in-out;   
}

.section-inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInOut .5s ease-in-out 0.2s;
    animation-fill-mode: both;
}

.section-inner a {
    animation: fadeInOut .5s ease-in-out 0.4s;
    animation-fill-mode: both;

}

/* Background images */
.section-a {
    background-image: url('../img/section-a.webp');
  }
.section-b {
    background-image: url('../img/section-b.webp');
  }
.section-c {
    background-image: url('../img/section-c.webp');
  }
.section-d {
    background-image: url('../img/section-d.webp');
  }
.section-e {
    background-image: url('../img/section-e.webp');
  }
.section-f {
    background-image: url('../img/section-f.webp');
  }

.btn {
    position: relative;
    display:  inline-block;
    padding: 15px 50px;
    border: 2px solid;
    text-align: center;
    min-width: 130px;
    cursor: pointer;
    margin-top: 10px;
    z-index: 2;
    overflow: hidden;    
}

.btn:hover span {
    color: #000;
}

.btn .hover {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top center; 
    transition: transform 0.3s ease-in-out;
}

.btn:hover .hover {
    transform: scaleY(1);
    transform-origin: bottom center;    
}

/* Scroll arrow */
.scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeAndBounce 5s infinite;
}

footer {
    position: relative;
    padding: 45px 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;    
}

footer ul li {
    color: #aaa;
    margin-right: 45px;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 2.5;
}

footer ul li a {
    font-weight: 900;
    transition: .5s;
}

footer ul li a:hover {
    color: #aaa;
}

/* Animations */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

/* Transition hamburger to open*/
.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateX(-6px) translateY(6px);
}

/* Adding overlay */
.show-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0 0 0 / .5);
    z-index: 3;
}

/* Disable scrolling*/
.stop-scrolling {
    overflow: hidden;
}

/* Hide mobile-only menu */
.mobile-only {
    display: none;
}

.mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: #000;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

/* Bring mobile-menu from right */
.show-menu {
    transform: translateX(0);
}

.mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-grow: 1;
    list-style: none;
}

.mobile-main-menu ul li {
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 3px 20px;
    width: 100%;
    text-align: right;
    border-bottom: 1px dotted #555
}

.mobile-main-menu ul li a {
    color: #fff;
    transition: color .5s;
}

.mobile-main-menu ul li a:hover {
    color: #aaa;
}

@keyframes fadeAndBounce {
    0%,
    20%,
    60%,
    80%,
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */

@media (max-width: 960px) {    
    /* Hide desktop menu */
    .desktop-main-menu {
      display: none;
    }

    /* Show mobile-only */
    .mobile-only {
        display: block;
    }
  
    /* Show main mobile items */
    .mobile-only {
      display: block;
    }
  
    .section-inner-center h3 {
      font-size: 75px;
    }
  }
  
  @media (max-width: 600px) {
    .section-inner {
      bottom: 75px;
      left: 20px;
    }
  
    .section-inner h2 {
      font-size: 40px;
    }
  
    footer ul li:first-child {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    footer ul li {
      margin-right: 15px;
    }
  
    .logo {
      width: 150px;
      margin: auto;
    }
  
    .section-inner-center h3 {
      font-size: 50px;
    }
  
    /* Stats */
    .stats {
      flex-direction: column;
    }
  
    .stats div {
      margin-bottom: 20px;
    }
  }